= wrap_layout :layout do
  #subnav
    .full
      %ul.nav
        %li= link_to '2013', '/archiv/2013.html', :class => (@subnav == '2013' ? 'current' : '')
        %li= link_to '2014', '/archiv/2014.html', :class => (@subnav == '2014' ? 'current' : '')
        %li= link_to 'Night März 2015', '/archiv/2015_03_19.html', :class => (@subnav == '2013' ? 'current' : '')
        %li= link_to 'Night Juni 2015', '/archiv/2015_06_18.html', :class => (@subnav == '2013' ? 'current' : '')

  #content-main
    .full
      .space
      = yield
