- @nav = 'infos'
#content-main
  .full
    .space-s
    %h2 Ablauf
    %ul.space
      %li 
        Der Ticketpreis beinhaltet 2x Frühstück, 2x Mittagessen, 1x Brotzeit und alle Getränke.
      %li 
        Gerne könnt ihr bereits am Freitag Abend am Kennenlern-Event teilnehmen.
        Bitte beim Ticketkauf angeben.
      %li 
        Jeder der gerne über ein Thema sprechen oder einen Workshop veranstalten möchte kann sein Thema vorab bei uns einreichen oder am Samstag Vormittag vorstellen. 
        = link_to 'Hier', '/themen.html' 
        könnt ihr eure Themen bereits vorab einreichen.
  .full
    .row
      .sub_1
        %p
        %h3 Freitag
        %hr
        %p
          Ab 19 Uhr treffen wir uns zu einem gemeinsamen Abendessen im
          = link_to "Goldenen Fass", "https://www.facebook.com/GoldenesFass"
      .sub_2
        %p
        %h3 Samstag
        %hr
        %p
          Einlass ab 08:30 Uhr
        %p
          Frühstück bis 9 Uhr
        %p
          Vorstellung + Sessionplanung von 9 - 10 Uhr
        %p
          Sessions von 10 – 12 Uhr
        %p
          Mittagessen 12 – 13 Uhr
        %p
          Sessions von 13 - 17 Uhr
        %p
          = link_to "19:15 Uhr – Stadtführung: Treffpunkt Schottenkirche", "https://www.google.de/maps/place/Schottenkirche/@49.018853,12.088319,17z/data=!3m1!4b1!4m2!3m1!1s0x479fc1a9616c6b3d:0x59a019d0fd861579"
        %p
          Abendveranstaltung ab 20 Uhr in der
          = link_to "Couch Bar", "https://www.facebook.com/diecouchbar"
      .sub_3
        %p
        %h3 Sonntag
        %hr
        %p
          Einlass ab 9 Uhr
        %p
          Frühstück und Sessionplanung bis 10 Uhr
        %p
          Sessions von 10 – 12 Uhr
        %p
          Mittagessen 12 – 13 Uhr
        %p
          Sessions von 13 - 16 Uhr
        %p
          Feedback-Session 16 - 16:30 Uhr
        %p
          Aufräumen 16:30 - 18 Uhr

  .full   
    .space
    %p Die Sessions dauern jeweils 45 Minuten. So bleibt genügend Luft zum letzte Fragen stellen und Raumwechsel.
    .space

  .full
    .row
      %p
      %hr
      %h2.space-s Anfahrt
      .sub_4.space
        %iframe{:height => "400", :src => "https://mapsengine.google.com/map/embed?mid=zdDn3OZxJZZM.kbMV5-0oaaJM", :width => "100%"}
      .sub_3
        %h3
          Anfahrt über die A 3: 
        %p
        Frankfurt – Nürnberg – Regensburg – Passau – Wien 
        Ausfahrt „Universität / Klinikum“ > Beschilderung Richtung "Universität" folgen
        %p
        %h3
          Anfahrt über die A 93: 
        %p 
        München – Regensburg – Hof – Dresden 
        Ausfahrt "Regensburg - Kumpfmühl" > Beschilderung Richtung "Universität" folgen
        %p
        %h3
          Anfahrt per Zug: 
        %p 
        Vom Hauptbahnhof bzw. der Albertstraße aus fahren die Busse der Linien 2, 6 und 11 Richtung Uni
    %p
    %hr
    .row
      %h2
        Hotels
      .sub_1
        %h3
          %p
            = link_to 'Hansa Apart Hotel', 'http://www.hansa-apart-hotel.de/'
        %ul
          Fußweg: 10 - 15 Minuten
        %ul
          Bus: Linie 11
        %ul
          Auto: 5 Minuten
          %p
            %ul
              Einzelzimmer: ab 90€ pro Nacht
            %ul
              Doppelzimmer: ab 115€ pro Nacht
      .sub_2
        %h3
          %p
            = link_to 'Altstadthotel Arch', 'http://www.regensburghotel.de/altstadthotel-arch/altstadthotel-arch/herzlich-willkommen'
        %ul
          Fußweg: ca. 35 Minuten
        %ul
          Bus: Linien 2, 6 und 11
        %ul
          Auto: ca. 10 Minuten
          %p
            %ul
              Einzelzimmer: ab 90€ pro Nacht
            %ul
              Doppelzimmer: ab 115€ pro Nacht
      .sub_3
        %h3
          %p
            = link_to 'Goliath Hotel', 'http://www.hotel-goliath.de/'
        %ul
          Fußweg: ca. 35 Minuten
        %ul
          Bus: Linien 2, 6 und 11
        %ul
          Auto: ca. 10 Minuten
          %p
            %ul
              Einzelzimmer: ab 90€ pro Nacht
            %ul
              Doppelzimmer: ab 115€ pro Nacht
    
  .full
    .space

    .row
      %h2
        Ferienwohnungen und Hostels
      %p
      .sub_1
        %h3
          %p
            = link_to 'Ferienwohnung', 'http://www.ferien-in-regensburg.de/index.php/start.html'
        %ul
          Fußweg: 10 - 15 Minuten
        %ul
          Bus: Linie 11
        %ul
          Auto: 5 Minuten
          %p
            %ul
              1 Person: 50€ pro Nacht
            %ul
              2 Personen: 60€ pro Nacht
      .sub_2
        %h3
          %p
            = link_to 'Abotel Ferienwohnungen und Hotelzimmer', 'http://www.abotel-regensburg.de/'
        %ul
          Fußweg: ca. 60 Minuten
        %ul
          Auto: ca. 15 Minuten
          %p
            %ul
              1-Bett-Zimmer: ab 49€ pro Nacht
            %ul
              2-Bett-Zimmer: ab 59€ pro Nacht
            %ul
              Ferienwohnung p.P.: ab 59€ pro Nacht
      .sub_3
        %h3
          %p
            = link_to 'Brook Lane Hostel', 'http://www.hostel-regensburg.de/'
        %ul
          Fußweg: ca. 35 Minuten
        %ul
          Bus: Linien 2, 6 und 11
        %ul
          Auto: ca. 10 Minuten
          %p
            %ul
              Einzelzimmer: ab 40€ pro Nacht
            %ul
              Doppelzimmer: ab 50€ pro Nacht

    .full
      .space
      %p
        %iframe{:height => "400", :src => "https://mapsengine.google.com/map/embed?mid=zdDn3OZxJZZM.k8uqRgvC_PCY", :width => "100%"}